@use "../abstracts/variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  background-color: $color-bg-light;
  color: $color-text-light;
  height: 5000px;
}

h1 {
  color: $color-muted-light;
}

h2,
h3 {
  color: $color-accent-light;
}
